body {
    font-family: 'M PLUS 1p', sans-serif;
}

.v-toolbar__title, .app-title {
    font-family: 'Righteous', cursive;
}

.summary-image {
    height: 350px;
    width: 550px;
    margin: 50px 0;
}

.summary-text {
    margin: auto;
    text-align: center;
    align-items: center;
    font-family: 'M PLUS 1p', sans-serif;
}

.summary-text h2 {
    margin-bottom: 20px;
}

.input-container {
    background-color: #F1F5F9;
    text-align: center;
    font-family: 'M PLUS 1p', sans-serif;
}

.description-area {
    margin-top: 150px;
}

.form-area {
    width: 150px;
    margin: 30px auto 150px;
}

.form input {
    text-align: center;
    width: 150px;
    background-color: white;
    padding: 5px 25px;
}

.form .form-button {
    margin: 30px auto 0;
    text-align: center;
    background-color: white;
    width: 120px;
    padding: 5px 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}