body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #222222;
}

a, h2 {
    color: #222222 !important
}

ul {
    list-style: none;
}

.v-toolbar__title, .app-title {
    font-family: 'Righteous', cursive;
}

.v-footer {
    background-color: white;
}

// フォントサイズ・太さ
.font-small {
    font-size: 14px;
}

.font-big {
    font-size: 18px;
}

.font-bold {
    font-weight: bold;
}

.summary-image {
    height: 350px;
    width: 550px;
    margin: 50px 0;
}

.summary-text {
    margin: auto;
    text-align: center;
    align-items: center;
    font-family: 'M PLUS 1p', sans-serif;
}

.summary-text h2 {
    margin-bottom: 20px;
}

.v-main {
    background-color: #F1F5F9;
    text-align: center;
    font-family: 'M PLUS 1p', sans-serif;
}

.component-area {
    margin: 150px auto;
}

.component-area a {
    width: 180px;
}

.form-area {
    width: 300px;
    margin: 30px auto 0;
}

.form input {
    text-align: center;
    width: 150px;
    background-color: white;
    padding: 5px 25px;
}

.form .form-button, .link-button {
    margin: 30px auto 0;
    text-align: center;
    background-color: white;
    width: 120px;
    padding: 10px 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.result-area {
    width: 450px;
    margin: 0 auto;
}

.command-area, .symbol-area {
    margin: 0 auto 40px;
}

.bg-white {
    background-color: white;
    padding: 10px 20px;
}

// バリデーション、エラーメッセージ
.errors {
    color: red;
    margin-bottom: 10px;
}